/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* header style */
.honda-bg-info{
    background-color: #264653;
}
.btn_color{
    background-color: #E76F51;
    color: white;
}
.text-color{
    color: #A9B5BA;
}
.honda-details {
    font-size: 16px;
}
.btn-color{
    background-color: #E76F51;
    color: white;
    padding: 10px 25px;
}

/* bike part style */
.section_title{
  font-size: 48px;
  font-weight: 600;
}
.specific-color{
    color: #E76F51 ;
    font-size: 14px;
}

 /* clients style  */

 .high-light{
    color: #E76F51 ;
 }

.clients{
    color: brown;
}
.card-text{
    font-size: 16px;
    color:#6C6C6C;
    
}

.text-primary-color{
    color:#23A6F0;
    font-size: 14px;
}
.text-color-banker{
    color: #252B42;
    font-size: 14px;
    
}
.fa-star{
    color: #E77C40;
}

/* FAQ style */
.accordion-item{
    
}

.gallery{
    box-shadow: 10px 10px 50px ;
}

.bg-color{
    background-color: #E77C40;

}